<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>ファイルのアップロード・ダウンロード</title>
</head>

<body>
    <h1>ファイルのアップロード・ダウンロード</h1>
    <h2>ファイルのアップロード</h2>
    <p>
    <form method="POST" action="/upload" enctype="multipart/form-data">
        <p><label for="file">アップロードするファイルの選択：</label>
            <input type="file" name="file">
        </p>
        <button type="submit">アップロード</button>
    </form>
    </p>
    <h2>アップロードしたファイルの一覧</h2>
    <table>
        <tr>
            <th>アップロードしたファイル</th>
        </tr>
        {% for file in csv_files %}
        <tr>
            <td><a href="/download/{{ file }}">{{ file }}のダウンロード</a></td>
            <td><a href="/delete/{{ file }}">{{ file }}の削除</a></td>
        </tr>
        {% else %}
        <tr>
            <td>データがありません</td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>
